* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56,96,66);
}
h1{
    margin-top: 2px;
    margin-bottom: 5px;
    text-align: center;
}
video{
    position: absolute;
    top:50px;
    left:70px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 430px;
    height: 430px;
    margin: 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
}

.grid-item {
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */;
    border: 1px solid rgba(0, 0, 0, 0.8);
    position: relative;
    
}

.q, .q-hero {
    position: absolute;
    width: 71px;
    height: 71px;
    z-index: 1;
    background-color: black;


}

.q-hero {
    position: absolute;
    background-color: red;
    z-index: 3; /* 确保它覆盖在 .q 上 */
    background-image: url(tqm.jpg);
    background-size: cover; /* 使背景图片铺满整个元素 */
    background-position: center; /* 背景图片居中 */
}

.w {
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: yellow;
    background-image: url(beatuy.jpg);
    background-size: cover; /* 使背景图片铺满整个元素 */
    background-position: center; /* 背景图片居中 */
}
